<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <nav>
        <a href="/">Home</a>
        <a href="/tags">Tags</a>
        <!-- How can I use Jinja for a dynamic navbar? ex: while viewing a user's post, pass the user.id to use in the href -->
    </nav>
    <h1>Cupcakes</h1>

    <ul id='cupcakes-list' ></ul>

    <form id="cupcake-form">
        <label for="form-flavor">Flavor</label>
        <input type="text" name="flavor" id="form-flavor">
        
        <label for="form-size">Size</label>
        <input type="text" name="size" id="form-size">

        <label for="form-rating">Rating</label>
        <input type="number" name="rating" id="form-rating">

        <label for="form-img">Image URL</label>
        <input type="text" name="img" id="form-img">

        <button type="submit">Submit</button>

    </form>
    
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/cupcakes.js"></script>
    
</body>
</html>